In [2]:
import pandas as pd
import numpy as np

In [3]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college.iloc[:3, :4]

                                           CITY STABBR  HBCU  MENONLY
INSTNM
Alabama A & M University                 Normal     AL   1.0      0.0
University of Alabama at Birmingham  Birmingham     AL   0.0      0.0
Amridge University                   Montgomery     AL   0.0      0.0

In [4]:
college.loc[:'Amridge University', :'MENONLY']

                                           CITY STABBR  HBCU  MENONLY
INSTNM
Alabama A & M University                 Normal     AL   1.0      0.0
University of Alabama at Birmingham  Birmingham     AL   0.0      0.0
Amridge University                   Montgomery     AL   0.0      0.0

In [5]:
college.iloc[:, [4,6]].head()

                                     WOMENONLY  SATVRMID
INSTNM
Alabama A & M University                   0.0     424.0
University of Alabama at Birmingham        0.0     570.0
Amridge University                         0.0       NaN
University of Alabama in Huntsville        0.0     595.0
Alabama State University                   0.0     425.0

In [7]:
college.loc[:, ['WOMENONLY', 'SATVRMID']]

                                                    WOMENONLY  SATVRMID
INSTNM
Alabama A & M University                                  0.0     424.0
University of Alabama at Birmingham                       0.0     570.0
Amridge University                                        0.0       NaN
University of Alabama in Huntsville                       0.0     595.0
Alabama State University                                  0.0     425.0
The University of Alabama                                 0.0     555.0
Central Alabama Community College                         0.0       NaN
Athens State University                                   0.0       NaN
Auburn University at Montgomery                           0.0     486.0
Auburn University                                         0.0     575.0
Birmingham Southern College                               0.0     560.0
Chattahoochee Valley Community College                    0.0       NaN
Concordia College Alabama                                 0.0     420.0
South University-Montgomery                               0.0       NaN
Enterprise State Community College                        0.0       NaN
James H Faulkner State Community College                  0.0       NaN
Faulkner University                                       0.0       NaN
Gadsden State Community College                           0.0       NaN
New Beginning College of Cosmetology                      0.0       NaN
George C Wallace State Community College-Dothan           0.0       NaN
George C Wallace State Community College-Hancev...        0.0       NaN
George C Wallace State Community College-Selma            0.0       NaN
Herzing University-Birmingham                             0.0       NaN
Huntingdon College                                        0.0     510.0
Heritage Christian University                             0.0       NaN
J F Drake State Community and Technical College           0.0       NaN
Jacksonville State University                             0.0     495.0
Jefferson Davis Community College                         0.0       NaN
Jefferson State Community College                         0.0       NaN
John C Calhoun State Community College                    0.0       NaN
...                                                       ...       ...
Strayer University-Lawrenceville                          NaN       NaN
Strayer University-Piscataway                             NaN       NaN
Utah County Campus                                        NaN       NaN
L'esprit Academy - Royal Oak                              NaN       NaN
National Career Institute - Jersey City Branch            NaN       NaN
Strayer University-Cobb Campus                            NaN       NaN
Strayer University-Morrow Campus                          NaN       NaN
Strayer University-Roswell Campus                         NaN       NaN
Strayer University-Douglasville Campus                    NaN       NaN
Strayer University-Lithonia Campus                        NaN       NaN
Strayer University-Savannah Campus                        NaN       NaN
Strayer University-Augusta Campus                         NaN       NaN
Strayer University-Columbus                               NaN       NaN
Strayer University-Columbia Campus                        NaN       NaN
Strayer University-Charleston Campus                      NaN       NaN
Strayer University-Irving                                 NaN       NaN
Strayer University-Katy                                   NaN       NaN
Strayer University-Northwest Houston                      NaN       NaN
Strayer University-Plano                                  NaN       NaN
Strayer University-Cedar Hill                             NaN       NaN
Strayer University-North Dallas                           NaN       NaN
Strayer University-San Antonio                            NaN       NaN
Strayer University-Stafford                               NaN       NaN
WestMed College - Merced                                  NaN       NaN
Vantage College                                           NaN       NaN
SAE Institute of Technology  San Francisco                NaN       NaN
Rasmussen College - Overland Park                         NaN       NaN
National Personal Training Institute of Cleveland         NaN       NaN
Bay Area Medical Academy - San Jose Satellite L...        NaN       NaN
Excel Learning Center-San Antonio South                   NaN       NaN

[7535 rows x 2 columns]

In [8]:
rows = ['GateWay Community College', 'American Baptist Seminary of the West']
columns = ['SATMTMID', 'UGDS_NHPI']
college.loc[rows, columns]

                                       SATMTMID  UGDS_NHPI
INSTNM
GateWay Community College                   NaN     0.0029
American Baptist Seminary of the West       NaN        NaN

In [9]:
college.iloc[5, -4]

0.401

In [10]:
college.loc['The University of Alabama', 'PCTFLOAN']

0.401

In [11]:
college.iloc[90:80:-2, 5]

INSTNM
Empire Beauty School-Flagstaff     0
Charles of Italy Beauty College    0
Central Arizona College            0
University of Arizona              0
Arizona State University-Tempe     0
Name: RELAFFIL, dtype: int64

In [12]:
start = 'Empire Beauty School-Flagstaff'
stop = 'Arizona State University-Tempe'
college.loc[start:stop:-2, 'RELAFFIL']

INSTNM
Empire Beauty School-Flagstaff     0
Charles of Italy Beauty College    0
Central Arizona College            0
University of Arizona              0
Arizona State University-Tempe     0
Name: RELAFFIL, dtype: int64